<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
    <%# <link rel="stylesheet" type="text/css" href="./perfect-scrollbar/perfect-scrollbar.css"> %>
    <%= stylesheet_link_tag 'perfect-scrollbar', media: 'all'%>
    <%= stylesheet_link_tag 'styles', media: 'all' %>
    <%# <link rel="stylesheet" type="text/css" href="./styles.css"> %>
  </head>
  <body>
    <header class="header">
        <div class="logo header__logo"></div>
        <div class="event-date header__event-date"></div>
        <a href="<%= new_user_session_path %>" class="button button--active header__button">Войти</a>
    </header>

    <div class="hr"></div>

    <main class="main">
        <div class="main-content main-content--font-size-0">
            <div id="map" class="map main-content__map"></div>
            <div class="polling-station main-content__polling-station">
                <label class="search polling-station__search">
                    <input class="search__input" type="text" name="search" placeholder="Поиск избирательных участков">
                </label>
                <ul class="polling-station__list list-polling-station"></ul>
            </div>
        </div>
    </main>
    
    <%# <script type="text/javascript" src="./perfect-scrollbar/perfect-scrollbar.js"></script> %>
    <script src="https://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
    <%# <%= javascript_include_tag "newscripts.js" %> %>
    <%= javascript_include_tag "perfect-scrollbar.js" %>

    <%# <script type="text/javascript" src="./ascripts.js"></script> %>
    <script>electionApp.currentPage = 'index';</script>
  </body>
</html>
