<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
 
    <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="body--background-gray">
    <div class="popup-container">
        <div class="popup-container__wrapper">
            <header class="header">
                <div class="logo header__logo"></div>
                <div class="event-date header__event-date"></div>
            </header>
        
            <main class="main">
                <div class="main-content">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "login"}) do |f| %>
                        <div class="login__title">Авторизация</div>
                        <div class="login__subtitle">Только для членов избирательной комиссии</div>
                        
                        <label class="login__login">
                            <%= f.text_field :login, class: "login__input-login",  placeholder: "Логин", autofocus: true %>
                        </label>

                        <label class="login_password">
                            <%= f.password_field :password, class: "login__input-password", placeholder: "Пароль", autocomplete: "off" %>
                        </label>

                        <div class="actions">
                            <%= f.submit "Войти", class: "button button--active login__submit" %>
                            <div class="login__error-description"><%= render 'layouts/messages' %></div>
                        </div>


                     <% end %>
                </div>
            </main>
            <a class="main-content__back-to-main main-content__back-to-main--no-border main-content__back-to-main--center" href="/areas">На главную</a>            
        </div>
    </div>
    
    <!-- <script type="text/javascript" src="./perfect-scrollbar/perfect-scrollbar.js"></script> -->
    <!-- <script src="https://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script> -->
    <%#<script type="text/javascript" src="./scripts.js"></script> %>

    <script>electionApp.currentPage = 'login';</script>
  </body>
</html>