<%= form_with model: [ @area, @area.cameras.build ], remote: true do |form| %>
  <p>
    <%= form.label :Номер_камеры %><br>
    <%= form.text_field :camera_number %>
  </p>
  <p>
    <%= form.label :Ссылка %><br>
    <%= form.text_area :link %>
  </p>
  <p>
    <%= form.submit :Добавить_камеру %>
  </p>
<% end %>